<title>Bright Ideas</title>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
<ul class="navbar-nav">
  <li class="nav-item active">
    <a href="/main">
    <h4 class="navbar-brand">Main</h4></a>
  </li>
  <li class="nav-item">
    <a href="/users/<%= @user.id %>" class="nav-link">My Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</ul>
</nav>

<div class="jumbotron text-center">
<div class="container">
  <h1><%= @randomIdea.content %></h1>
  <p>- <%= @randomIdea.user.name %></p>
  <h4><button type="button" class="btn btn-primary"><span class="badge badge-light"><%= @randomIdea.likes.count %></span> </button> likes</h4>
  <form action='/likes' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='idea_id' value='<%= @randomIdea.id %>'>
    <input type='submit' class="btn btn-primary" value="↑ Like">
    </form>
</div>
</div>



  

<h1>Hi, <%= @user.name %></h1>
<form action="/ideas" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <textarea rows="4" cols="50" name="content">
Post something witty here!
</textarea>
    <br><input type='submit' value='Share Idea!'>
</form>

<% @ideas.sort_by{|i| i.likes.count}.each.reverse_each do |i| %> 
 <p><a href="/users/<%= i.user.id %>"><%= i.user.alias %></a>  says: <textarea readonly="readonly"><%= i.content %></textarea> </p>
 	<a href="/ideas/<%= i.id %>"><%= i.likes.count %> people</a> like this!</p>
   <% if current_user == i.user %>
  <form action='/likes' method='post'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <input type='hidden' name='idea_id' value='<%= i.id %>'>
  <input type='submit' value="Like">
  </form>

  <form action="/ideas/<%=i.id%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
   <% else %>
            <form action='/likes' method='post'>
              <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
              <input type='hidden' name='idea_id' value='<%= i.id %>'>
              <input type='submit' class="btn btn-default" value="Like">
            </form>
 <% end %>
 <% end %>

 <form action="/sessions/<%=current_user.id%>" method="post">
 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
 <input type="hidden" name="_method" value="delete">
 <input type="submit" value="Log Out">
</form>

