<p><a href="/users/<%= @idea.user.id %>"><%= @idea.user.alias %></a>  says: <textarea readonly="readonly"><%= @idea.content %></textarea> </p>

<h2>People who also liked this post:</h2>
  <table class="table table-dark">
    <tr>
    <th>Alias</th>
    <th>Name</th>
    </tr>
    
      <% @idea.users_liked.each do |i| %>
      <tr>
      	<td><a href="/users/<%= i.id %>"><%= i.alias %></a></td>
      	<td><%= i.name %></td>
      </tr>
      <% end %>
  </table>